html{
    font-size: 100%;
    box-sizing: border-box;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: $white;
    margin: 0;
    padding: 20px 100px 20px 100px;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif;
    font-family: "Merriweather", serif;
    font-size: $font-med;
    color: $darkBlue;
    font-weight: 400;
}

a{
    text-decoration: none;
}



//flexbox

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ac-c{
        align-items: center;
    }

}

h1{
    font-family: 'Fira Sans', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

a{
    text-decoration: none;
}

.next{
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-bottom: 20px;
    font-size: 32px;

}
